
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <label>区域视图显示</label>
    <a href="/House/GetHouse">跳转到House控制器视图</a>
</body>
</html>
